<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Adrien MARQUES</title>
</head>
<body>
<div class="jumbotron">

    <table>
        <tr>
            <td>
                <img src="{{ asset('images/cvtic.png') }}" height="42" width="42"><h1>Salut !</h1>
            </td>
        </tr>

        <tr>
            <td>
                Je m'appelle Adrien MARQUES.<br>
                Je vous présente ma première page symfony réalisée dans le cadre de la LPMI !
            </td>
        </tr>
    </table>
    <hr class="my-4">
</div>
</body>
</html>