{% extends('base.html.twig') %}

{% block title %} Home {% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron text-center mx-auto">
        <h1>Bienvenue dans notre bibliothèque</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
        <a href="{{ path("app_login") }}" class="btn btn-success">Connectez-vous</a>
        <a href="{{ path("app_register") }}" class="btn btn-danger">Incrivez-vous</a>
    </div>
</div>
{% endblock %}